/*FONTS - Anton + Bebas Neue*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
/*FONTS - Yellowtail + Monserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Yellowtail&display=swap');


html, body {
    height: 100vh;
    min-height: 100vh;
    width: 100%;

    color: #F27C3D;
    background-color: #1D2024;

    font-family: monserrat, sans-serif;
  }
  
h1 {
    font-family: 'yellowtail', cursive;
    font-size: 6rem;
    color: #FAC00C;
}

h2 {
    color: #F27C3D;
}

footer {
    background-color: black;
    color: #F8F9FA;
}


.circle-hero-img {
    background-image: url("assets/heroimage_1000.jpg"); /* The image used */
    background-color: #4c4c4c; /* Used if the image is unavailable */
    height: 286px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

    border-radius: 50%;
    width: 286px;
    margin: 0 auto 0 auto;
}

/*Media Queries - Specific to .circle-hero-img*/
@media screen and (min-width: 576px) {
    .circle-hero-img {
        height: 400px;
        width: 400px;
    }
  }

@media screen and (min-width: 768px) {
.circle-hero-img {
    height: 576px;
    width: 576px;
}
}


.circle-hero-img h1 {
    position: relative;
    top: 20%;

    font-family: 'yellowtail', cursive;
    font-size: 10rem;
    color: #FAC00C;
}

/* box-shadow syntax: box-shadow: h-offset v-offset blur spread color */
.mycardcolor {
    background-color: transparent !important;
    border-color: #F27C3D; 
    color: #F27C3D;
}

.mycardcatalog-size {
    max-width: 230px;
}

.mybuttoncolor {
    background-color: transparent !important;
    border: 1px solid #F27C3D;
    color: #F27C3D !important;
}

.mybuttoncolor:hover {
    color: #F8F9FA;
    background-color: transparent !important;
}

.mybadgecolor {
    background-color: #F27C3D;
}

.bigger-icons {
    font-size: 1.5rem;
}



/*How to get footer to stay at bottom of page?!?!?!*/
/*
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    clear: both;
}*/





